body{
	background-color:#1C1C1C;
}

.header{
	background-image: url('../img/head.jpeg');
	height: 700px;
	   margin:0;
    -moz-background-size: 100%; 
    -webkit-background-size: 100%;
    -o-background-size: 100%; 
    background-size: 100%;
    width: auto;
}

.logo{
	position: relative;
	margin-top:45px;
	margin-left:237px;
}

.menu {
	font-family: Arial;
	font-size:14px;
   list-style: none;
   position: relative;
  text-align: right;
  top:-25px;
  font-weight: Regular;
}
a {
	text-decoration: none;
	color:white;
}

.menu li{
	display: inline;
	padding:40px;
	font-size: 18px;
}

.center-text{
	text-align:center;
	font-family: Courier New,Courier,monospace;
	font-style:italic;
	font-size:62px;
	color:goldenrod;
	position: relative;
	margin-top:114px;
	font-weight: bold;
}

.center-text2{
	text-align:center;
	font-family: Courier New,Courier,monospace;
	font-style:italic;
	font-size:52px;
	color:goldenrod;
	position: relative;
	margin-top:52px;
	margin-bottom: 150px;
	font-weight: bold;
}
a.knopka {
  color: black; 
  text-decoration: none; 
  user-select: none; 
  background: yellow; 
  padding: 25px 52px; 
  outline: none; 
  font-size:18px;
  font-style:Arial;
  font-family:bolder;
  position: relative;
  border-radius: 10%;

} 

.kknopka{
	text-align: center;
}

.section{
	height: 1100px;
}

a.photo:hover img{
	border: 3px solid #034F80;
}

.center-section{
	font-size:40px;
	font-family: Arial;
	font-weight: bold;
	text-align: center;
	margin-top:50px;
	color: gold;
}

.double-center{
	font-size:16px;
	font-family: Arial;
	font-weight: Regular;
	text-align: center;
	margin-top:20px;
	color: gold;
	opacity: 0.7;
}

.Comp{
	margin-top:60px;
	padding-left:110px;
	margin-left:150px;
	color: white;
	background-color: #111111;
	padding: 30px;
	width: 320px;
	height: 320px;
	border-radius: 30%;
}

.compicon{
	position: relative;
	left:90px;
	margin-bottom: 25px;
	height: 150px;
	width: 130px;
}

.notebookicon{
	position: relative;
	left:80px;
	margin-bottom: 25px;
	height: 150px;
	width: 180px;
}

.Notebook{
	margin-left: 560px;
	width: 320px;
	height: 320px;
	position: relative;
	top:-380px;
	color: white;
	background-color: #111111;
	padding: 30px;
	border-radius: 30%;
}

.head-text{
	font-size:18;
	font-family: Arial;
	font-weight: bold;
	padding-left: 105px;
	padding-bottom: 23px;
}

.head-text2{
	font-size:18;
	font-family: Arial;
	font-weight: bold;
	padding-left: 130px;
	padding-bottom: 23px;
}

.head-text3{
	font-size:18;
	font-family: Arial;
	font-weight: bold;
	padding-left: 130px;
	padding-bottom: 23px;
}

.passive-text{
	position: relative;
	font-size:14;
	color: white;
	font-family: Arial;
	font-weight: Regular
	
}

.passive-text2{
	position: relative;
	font-size:14;
	font-family: Arial;
	font-weight: Regular
}

.Garnityra{
	position: relative;
	top:-755px;
	color: white;
	margin-left:973px;
	background-color: #111111;
	padding: 30px;
	width: 320px;
	height: 320px;
	border-radius: 30%;
}

.headphonesicon{
	position: relative;
	left:55px;
	margin-bottom: 25px;
	width: 210px;
	height: 170px;

}

.text-bottom{
	color: white;
	opacity: 0.75;
	margin-bottom: 7px;
	padding-left: 30px;
	font-size:14;
	font-family: Arial;
	font-weight: Regular

}

.Portfolio{
	background-color: #000000;
	height: 730px;
	position: relative;
	top:-600px;
}

.head-portfolio{
	position: relative;
	text-align: center;
	font-size:40px;
	font-family: Arial;
	font-weight: bold;
	padding-top:60px;
	color: gold;
	opacity: 1 !important;
}

.bottom-portfolio{
	position: relative;
	text-align: center;
	font-size:16px;
	font-family: Arial;
	font-weight: Regular;
	opacity: 0.5;
	padding-top: 24px;
}

.Portfolio-img{
	padding-top: 30px;

}


#portfolio-image1{
	position: relative;
	right: -60px;
	height: 550px;
	width: 550px;
	border: 1px solid #111111;
	border-radius: 20px;
	opacity: 0.7;
	
}

#portfolio-image2{
	position: relative;
	right: -140px;
	top:-130px;
	height: 200px;
	width: 200px;
	border: 1px solid #111111;
	border-radius: 20px;
}

#portfolio-image3{
	position: relative;
	right: -175px;
	top:-130px;
	height: 200px;
	width: 200px;
	border: 1px solid #111111;
	border-radius: 20px;
}

#portfolio-image4{
	position: relative;
	right: -210px;
	top:-130px;
	height: 200px;
	width: 200px;
	border: 2px solid #111111;
	border-radius: 20px;
}

.text-bottom-buy{
	position: relative;
	margin-left: 280px;
	top:30px;
	color: yellow;
	font-size: 18px;
}

.text-bottom-buy2{
	position: relative;
	margin-left: 390px;
	top:30px;
	color: yellow;
	font-size: 18px;
}

.text-bottom-buy3{
	position: relative;
	margin-left: 400px;
	top:30px;
	color: yellow;
	font-size: 18px;
}

#text-buys1{
	position: relative;
	right: -660px;
	top:-230px;
	line-height: 1.5;
	font-size:16px;
	color: gold;
	font-family:Georgia, 'Times New Roman', Times, serif;
}


.footer{
	height: 800px;
	margin-top: 350px;
}

#footext{
	position: relative;
	text-align: center;
	font-size:54px;
	color: gold;
	font-family:Georgia, 'Times New Roman', Times, serif;
	padding-bottom: 80px;
}



body{
	overflow-x:hidden;
}

.imgscr{
	height: 500px;
	width: 800px;
}



.slider_container {
	max-width: 800px;
	position: relative;
	margin: 0 auto;
}
	
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color:#fff;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}
.next {
	right: 0px;
	border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}
	
.text {
	color: #fff;
	padding: 8px 12px;
	position: absolute;
	bottom: 10px;
	width: 100%;
	text-align: center;
}

.slider_pointer {
	cursor: pointer;
	height: 13px;
	width: 13px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: 0.6s ease;
}

.active, .slider_pointer:hover {
	background-color: #717171;
}

.fade {
	animation-name: fade;
	animation-duration: 1.5s;
	}

@keyframes fade {
	from{opacity: 0.4}
	to{opacity: 1}
}
	

.gallery {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	top:-200px;
}
